

// Colors
$pebble: #293737;
$cvgreen: #54AB68;
$bgblue: #F5F6FA;
$primary-color: #01434A;

// Fonts
$fontstack: 'Facebook Reader', sans-serif;

//all
*{
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
}
html {
    scroll-behavior: smooth !important;
  }
// Body
body{
    font-family: $fontstack !important;
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
}

// Nav
#m-logo{
    display: none !important;
}
.navbar-item img {
    max-height: 2.8rem !important;
}
.navbar {
    min-height: 5rem !important;
}

.nav-btn{
    background: #54AB68;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin:10px auto !important;
   
    border-radius: 3px;
    
    min-width: 120px !important;
    a{
        font-weight: bold !important;
        color: #fff !important;
        line-height: 50px !important;
    
    }
    &:hover{
        background-color: #C0D271;
    }
}
.nav-btn-inv{
    background: #fff;
    
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin:10px 10px !important;
    border:1px solid #293737 !important;
    border-radius: 3px;
    
    min-width: 120px !important;
    a{
        font-weight: bold !important;
        color: #293737 !important;
        line-height: 50px !important;
       
    }
    &:hover{
        background-color: #C0D271;
        border:1px solid #C0D271 !important;
        color: #293737 !important;
    }
}

.hero.is-dark a.navbar-item:hover, .hero.is-dark a.navbar-item.is-active, .hero.is-dark .navbar-link:hover, .hero.is-dark .navbar-link.is-active {
    background-color: transparent !important;
    color: #fff;
}

// Hero
.hero{
    background: url(/img/herobg_plain.svg) !important;
    // background-attachment: fixed !important;
    // background: hsl(220, 29%, 12%) !important;
    background-repeat: no-repeat !important;
    background-position: bottom center;
    background-size: cover !important;
}
.hero-title{
    font-size: 3.2em;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 30px !important;
    color:  #fff;
}
.hero-subtitle{
    font-size:1.6em;
    margin-top: 20px;
    line-height: 150%;
    margin-bottom: 50px;
    color: #ccc !important;
    width: 90%;
    
    
}
.hero-button{
    background: #fff;
    color: $primary-color;
    text-decoration: none;
    padding: 16px 24px;
    // font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
    border-radius: 3px;
    &:hover{
        background: #C0D271;
        // background: #54AB68;
    }
}
.cta-button{
    background: $cvgreen;
    color: #fff !important;
    text-decoration: none;
    padding: 16px 24px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 40px;
    display: inline-block;
    border-radius: 3px;
    &:hover{
        background: $primary-color;
        // background: #54AB68;
    }
}

.hero-side{
    img{
        animation: float 4s ease-in-out infinite !important;
        box-shadow: none !important;
        width: 100%;
        text-align: center !important;
    }
}
.hero-text-side, .hero-side{
    align-self: center !important;
}

// Sectional
.section-title{
    font-size:2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: $primary-color;
    // &::after{
    //     content: ' ';
    //     display:block;
    //     margin-top: 20px;
    //     width: 50px;
    //     border-bottom: 4px solid $cvgreen !important;
    // }
}
.cta-title{
    font-size:2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: $primary-color;
}
.section-subtitle{
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 180% !important;
}

// Why
#why, #cta,#portfolio{
    padding: 100px 0px;
}
#why{
    background: url(/img/why_bg.svg) !important;
    
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: cover !important;
    // border-bottom: 8px solid #54AB68;
}
.why-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content;
    grid-gap:30px;
    margin-top: 50px;
}
.why-box{
    padding: 40px;
    background: #fff;
    border-top: 4px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    box-shadow: hsla(0, 0%, 0%, 0.1) 0px 10px 15px -3px;
    &:hover{
        box-shadow: 
        hsla(0, 0%, 0%, 0.25) 0px 25px 50px -12px;
        border-top: 4px solid #54AB68;
        img{
            transform: scale(1.2);
        }
    }
    img{
        // margin-bottom: 20px;
        width: 100px;
        height: auto;
       
    }
    h3{
        font-weight: bold;
        font-size: 1.4em;
        margin-bottom: 20px;
        color: $primary-color;
        // width: 50%;
        line-height: 120%;
        &::after{
            content: ' ';
            display:block;
            margin-top: 20px;
            width: 50px;
            border-bottom: 4px solid $cvgreen !important;
        }
    }
    p{
        line-height: 160%;
        margin-bottom: 30px;
    }
    
}
.sectors{
    align-self: center;
}
.sector-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: max-content;
    grid-gap:20px;
    margin:30px auto;
}
.sector-box{
    align-self: center;
    padding: 30px 20px;
    text-align: center;
    
    background: #fff;
    
    h3{
        font-weight: bold !important;
        color: $primary-color;
        font-size: 1em;
    }
    
    box-shadow: hsla(0, 0%, 0%, 0.1) 0px 10px 15px -3px;
    border-radius: 5px;
    &:hover{
        background: $bgblue;
        transition: all .5s !important;
        box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px;
        h3{
            font-weight: bold !important;
        // color: $cvgreen;
        }
        
    }
}
.this-port{
    align-self: center;;
    column{
        align-self: center !important;
    }
}
.portfolio-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content !important;
    grid-gap: 30px;

}
.portfolio-box{
    box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px;
    padding: 50px 30px;
    background: #fff;
    align-self: center !important;
    border-radius: 10px;
    // line-height: 150px !important;
    // height: 150px !important;
    .with-logo{
        width: 100%;
    }
    a{color: #666 !important;}
    h3{
        font-weight: bold;
        line-height: 140%;
        font-size: 1em;;
    }
    .lockicon{
        margin-bottom: 10px;
        width: 40px;
    }
    &:hover{
        background: $bgblue;
        a{
            color: $primary-color !important;
        }
    }
}
#benefits2{
    padding: 100px 30px;
    background: $bgblue;
    .column{
        align-self: center;
    }
}
.ver-benefits{
    margin-bottom: 40px;
    ;
    &::after{
        content: ' ';
        display:block;
        margin-top: 40px;
        width: 00%;
        border-bottom: 1px solid #ddd !important;
    }
    h3{
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 120%;
        color: $primary-color;
        width: 90%;
        &::after{
            content: ' ';
            display:block;
            margin-top: 20px;
            width: 50px;
            border-bottom: 4px solid $cvgreen !important;
        }
    }
    p{
        line-height: 180% !important;
        font-size: 1em;
        // color: #888;
        width: 90%;
    }
    &:hover{
        
        &::after{
            content: ' ';
            display:block;
            margin-top: 40px;
            width: 90%;
            border-bottom: 1px solid $cvgreen !important;
            
        }
        
    }
}
.ver-image-side{
    img{
        border-radius: 10px;
    }
}

.hor-desc{
    padding: 30px;
    // background: $bgblue !important;
    border-radius: 20px;
    margin: 10px auto !important;
    .column{
        align-self: center;
    }
    .ben-text{
        // box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px !important;
        padding: 50px;
        // background: #fff;
        border-radius: 10px;
    }
    h3{
        font-size: 2.2em;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 120%;
        color: $primary-color;
    }
    p{
        line-height: 160% !important;
        font-size: 1em;
        // color: #888;
    }
    img{
        width:400px;
        animation: float 4s ease-in-out infinite !important;
        box-shadow: none !important;
    }
}


// CTA
#cta{
    background-color: #ffffff;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.cta-box{
    // padding: 50px;
    // background:#F6FFF2;
    h2{
        background: #fff;
        padding: 30px;
        font-size: 2.8em;
    }
}

// how

#how, #benefits{
    li{
        font-size: 1.4em;

    }
}
#benefits{
    // background: $bgblue !important;
    padding: 50px 20px;
}

.bg-white{
    background: #fff !important;
    padding: 50px 30px;
}
footer{
    padding: 0px 30px 30px 10px;
    background: #fafafa;
}
.foot-contact{
    margin-top: 30px;
    p{
        margin-bottom: 10px;
    }
}
.foot-legal{
    // background-color: #efefef;
    color: #444;
    padding: 50px !important;
    font-size: .8em;
}
.logomark{
    font-size: 3.2em;
}
.powered-by{
    font-size: .8em;
}



//keyframe

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


// On screens that are 960px wide or less
@media screen and (max-width: 960px) {
    #w-logo{
        display: none !important;
    }
    #m-logo{
      img{
        display: block !important;
      }
  }
    #why{
        padding: 50px 30px;
    }
    .hero-subtitle{
        font-size: 1.4em;
    }
    .hero-title{
        font-size: 2.8em;
        line-height: 120%;
    }
  }
  
// On screens that are 600px wide or less
  @media screen and (max-width: 600px) {
      #w-logo{
          display: none !important;
      }
      #m-logo{
        display: inline-block !important;
    }
      .hero-title{
          font-size:2.2em
      }
      .hero-subtitle{
          font-size: 1.2em;
      }
    .why-wrapper, .portfolio-wrapper{
        grid-template-columns: repeat(1,1fr);
      }
      #why,#portfolio{
          padding:50px 30px;
      }

    .cta-box{
        .section-title,.cta-title{
            font-size: 1.8em;
        }
    }
    .hero-side{
        img{
            animation: float 4s ease-in-out infinite !important;
            box-shadow: none !important;
            width: 100% !important;
            text-align: center !important;
        }
    }
     .section-subtitle{
         font-size: 1.2em;
     }
     #why{
         background-position: bottom right !important;
     }
     .nav-btn{
        
        margin: 0px 10px !important; 
        padding: 5px !important;
        a{
            color: #fff !important;
        font-weight: bold !important;
        }
        
    }
    .nav-btn-inv{
        background: #fff !important;
    }
    .sector-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    #benefits{
        padding: 20px;
    }
    .hor-desc{
        padding: 10px;
    }
    .ben-text{
        padding: 20px !important;
    }
   
  }