* {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0), -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Facebook Reader", sans-serif !important;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0), -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0) !important;
}

#m-logo {
  display: none !important;
}

.navbar-item img {
  max-height: 2.8rem !important;
}

.navbar {
  min-height: 5rem !important;
}

.nav-btn {
  background: #54AB68;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 10px auto !important;
  border-radius: 3px;
  min-width: 120px !important;
}

.nav-btn a {
  font-weight: bold !important;
  color: #fff !important;
  line-height: 50px !important;
}

.nav-btn:hover {
  background-color: #C0D271;
}

.nav-btn-inv {
  background: #fff;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 10px 10px !important;
  border: 1px solid #293737 !important;
  border-radius: 3px;
  min-width: 120px !important;
}

.nav-btn-inv a {
  font-weight: bold !important;
  color: #293737 !important;
  line-height: 50px !important;
}

.nav-btn-inv:hover {
  background-color: #C0D271;
  border: 1px solid #C0D271 !important;
  color: #293737 !important;
}

.hero.is-dark a.navbar-item:hover, .hero.is-dark a.navbar-item.is-active, .hero.is-dark .navbar-link:hover, .hero.is-dark .navbar-link.is-active {
  background-color: transparent !important;
  color: #fff;
}

.hero {
  background: url(/img/herobg_plain.svg) !important;
  background-repeat: no-repeat !important;
  background-position: bottom center;
  background-size: cover !important;
}

.hero-title {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 30px !important;
  color: #fff;
}

.hero-subtitle {
  font-size: 1.6em;
  margin-top: 20px;
  line-height: 150%;
  margin-bottom: 50px;
  color: #ccc !important;
  width: 90%;
}

.hero-button {
  background: #fff;
  color: #01434A;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: bold;
  margin-bottom: 40px;
  display: inline-block;
  border-radius: 3px;
}

.hero-button:hover {
  background: #C0D271;
}

.cta-button {
  background: #54AB68;
  color: #fff !important;
  text-decoration: none;
  padding: 16px 24px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 40px;
  display: inline-block;
  border-radius: 3px;
}

.cta-button:hover {
  background: #01434A;
}

.hero-side img {
  -webkit-animation: float 4s ease-in-out infinite !important;
          animation: float 4s ease-in-out infinite !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 100%;
  text-align: center !important;
}

.hero-text-side, .hero-side {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.section-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #01434A;
}

.cta-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #01434A;
}

.section-subtitle {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 180% !important;
}

#why, #cta, #portfolio {
  padding: 100px 0px;
}

#why {
  background: url(/img/why_bg.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  background-size: cover !important;
}

.why-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 50px;
}

.why-box {
  padding: 40px;
  background: #fff;
  border-top: 4px solid #ccc;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
}

.why-box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-top: 4px solid #54AB68;
}

.why-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.why-box img {
  width: 100px;
  height: auto;
}

.why-box h3 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 20px;
  color: #01434A;
  line-height: 120%;
}

.why-box h3::after {
  content: ' ';
  display: block;
  margin-top: 20px;
  width: 50px;
  border-bottom: 4px solid #54AB68 !important;
}

.why-box p {
  line-height: 160%;
  margin-bottom: 30px;
}

.sectors {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sector-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
  margin: 30px auto;
}

.sector-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 30px 20px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
  border-radius: 5px;
}

.sector-box h3 {
  font-weight: bold !important;
  color: #01434A;
  font-size: 1em;
}

.sector-box:hover {
  background: #F5F6FA;
  -webkit-transition: all .5s !important;
  transition: all .5s !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}

.sector-box:hover h3 {
  font-weight: bold !important;
}

.this-port {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.this-port column {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.portfolio-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content !important;
      grid-template-rows: -webkit-max-content !important;
      grid-template-rows: max-content !important;
  grid-gap: 30px;
}

.portfolio-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
  padding: 50px 30px;
  background: #fff;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  border-radius: 10px;
}

.portfolio-box .with-logo {
  width: 100%;
}

.portfolio-box a {
  color: #666 !important;
}

.portfolio-box h3 {
  font-weight: bold;
  line-height: 140%;
  font-size: 1em;
}

.portfolio-box .lockicon {
  margin-bottom: 10px;
  width: 40px;
}

.portfolio-box:hover {
  background: #F5F6FA;
}

.portfolio-box:hover a {
  color: #01434A !important;
}

#benefits2 {
  padding: 100px 30px;
  background: #F5F6FA;
}

#benefits2 .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ver-benefits {
  margin-bottom: 40px;
}

.ver-benefits::after {
  content: ' ';
  display: block;
  margin-top: 40px;
  width: 00%;
  border-bottom: 1px solid #ddd !important;
}

.ver-benefits h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 120%;
  color: #01434A;
  width: 90%;
}

.ver-benefits h3::after {
  content: ' ';
  display: block;
  margin-top: 20px;
  width: 50px;
  border-bottom: 4px solid #54AB68 !important;
}

.ver-benefits p {
  line-height: 180% !important;
  font-size: 1em;
  width: 90%;
}

.ver-benefits:hover::after {
  content: ' ';
  display: block;
  margin-top: 40px;
  width: 90%;
  border-bottom: 1px solid #54AB68 !important;
}

.ver-image-side img {
  border-radius: 10px;
}

.hor-desc {
  padding: 30px;
  border-radius: 20px;
  margin: 10px auto !important;
}

.hor-desc .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hor-desc .ben-text {
  padding: 50px;
  border-radius: 10px;
}

.hor-desc h3 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 120%;
  color: #01434A;
}

.hor-desc p {
  line-height: 160% !important;
  font-size: 1em;
}

.hor-desc img {
  width: 400px;
  -webkit-animation: float 4s ease-in-out infinite !important;
          animation: float 4s ease-in-out infinite !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#cta {
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cta-box h2 {
  background: #fff;
  padding: 30px;
  font-size: 2.8em;
}

#how li, #benefits li {
  font-size: 1.4em;
}

#benefits {
  padding: 50px 20px;
}

.bg-white {
  background: #fff !important;
  padding: 50px 30px;
}

footer {
  padding: 0px 30px 30px 10px;
  background: #fafafa;
}

.foot-contact {
  margin-top: 30px;
}

.foot-contact p {
  margin-bottom: 10px;
}

.foot-legal {
  color: #444;
  padding: 50px !important;
  font-size: .8em;
}

.logomark {
  font-size: 3.2em;
}

.powered-by {
  font-size: .8em;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@media screen and (max-width: 960px) {
  #w-logo {
    display: none !important;
  }
  #m-logo img {
    display: block !important;
  }
  #why {
    padding: 50px 30px;
  }
  .hero-subtitle {
    font-size: 1.4em;
  }
  .hero-title {
    font-size: 2.8em;
    line-height: 120%;
  }
}

@media screen and (max-width: 600px) {
  #w-logo {
    display: none !important;
  }
  #m-logo {
    display: inline-block !important;
  }
  .hero-title {
    font-size: 2.2em;
  }
  .hero-subtitle {
    font-size: 1.2em;
  }
  .why-wrapper, .portfolio-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #why, #portfolio {
    padding: 50px 30px;
  }
  .cta-box .section-title, .cta-box .cta-title {
    font-size: 1.8em;
  }
  .hero-side img {
    -webkit-animation: float 4s ease-in-out infinite !important;
            animation: float 4s ease-in-out infinite !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    width: 100% !important;
    text-align: center !important;
  }
  .section-subtitle {
    font-size: 1.2em;
  }
  #why {
    background-position: bottom right !important;
  }
  .nav-btn {
    margin: 0px 10px !important;
    padding: 5px !important;
  }
  .nav-btn a {
    color: #fff !important;
    font-weight: bold !important;
  }
  .nav-btn-inv {
    background: #fff !important;
  }
  .sector-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #benefits {
    padding: 20px;
  }
  .hor-desc {
    padding: 10px;
  }
  .ben-text {
    padding: 20px !important;
  }
}
/*# sourceMappingURL=cvmeister.css.map */