@charset "UTF-8";
html {
  scroll-behavior: smooth !important;
}

body {
  background: #F5F6FA;
  font-family: "Facebook Reader", sans-serif !important;
}

* {
  -webkit-transition: all .5s !important;
  transition: all .5s !important;
  font-family: "Facebook Reader", sans-serif !important;
}

#why, #cta, #portfolio {
  padding: 100px 0px;
}

#why {
  background: url(/img/why_bg.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  background-size: cover !important;
}

#cvq-how {
  padding: 100px 30px;
  margin: 50px auto;
  background: #fff;
}

#cvq-faq {
  padding: 100px 30px;
}

.section-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #01434A;
}

#page-notification {
  margin-top: 30px;
}

.panel-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
  background: #171C26;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.this-notice {
  font-weight: bold;
}

.name-panel h2 {
  color: #fff !important;
}

.name-panel p {
  color: #54AB68 !important;
}

.name-panel img {
  border-radius: 300px;
  border: 2px solid #fff;
  width: 60px;
  margin-bottom: 20px;
  height: auto;
}

.single-panel {
  padding: 30px;
  border-radius: 10px;
}

.single-panel h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #293737;
}

.single-panel hr {
  background-color: #efefef;
}

.numbers-panel {
  background: #F5F6FA;
  color: #293737;
}

#how, #faq {
  margin-top: 30px;
}

.shaded {
  background: #fff;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.section-title {
  padding: 30px;
}

.section-title h2 {
  font-weight: bold;
  font-size: 1.6em;
}

.sectional-white {
  background: #fff;
  border-radius: 10px;
  margin: 0px 1px;
  padding: 30px;
}

details {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg) !important;
}

.faq-section-title {
  font-size: 1.6em;
  margin-bottom: 30px;
  font-weight: bold;
}

.faq-box {
  border-radius: 10px;
}

.faq-box .faq-question {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  color: #01434A;
}

.faq-box .faq-answer {
  font-size: 1em;
  margin-top: 20px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 4px solid #54AB68;
  margin-bottom: 20px;
  width: 80%;
  line-height: 180%;
}

.panel-btn {
  font-weight: bold;
  font-size: 1em;
  color: #54AB68;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.panel-btn::after {
  content: ' ⭢';
}

.panel-btn:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #54AB68;
}

.cvq-side-text h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.cvq-side-text h2::after {
  content: ' ';
  display: block;
  border-bottom: 4px solid #54AB68;
  margin: 10px 0px;
  width: 50px;
}

.how-boxx h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.how-boxx p {
  font-size: 1em !important;
  font-weight: normal;
  margin-bottom: 20px;
}

.sectors {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sector-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
  margin: 30px auto;
}

.sector-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 30px 20px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
  border-radius: 5px;
}

.sector-box h3 {
  font-weight: bold !important;
  color: #01434A;
  font-size: 1em;
}

.sector-box:hover {
  background: #F5F6FA;
  -webkit-transition: all .5s !important;
  transition: all .5s !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}

.sector-box:hover h3 {
  font-weight: bold !important;
}

.this-port {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.this-port column {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.portfolio-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content !important;
      grid-template-rows: -webkit-max-content !important;
      grid-template-rows: max-content !important;
  grid-gap: 30px;
}

.portfolio-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
  padding: 50px 30px;
  background: #fff;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  border-radius: 10px;
}

.portfolio-box .with-logo {
  width: 100%;
}

.portfolio-box a {
  color: #666 !important;
}

.portfolio-box h3 {
  font-weight: bold;
  line-height: 140%;
  font-size: 1em;
}

.portfolio-box .lockicon {
  margin-bottom: 10px;
  width: 40px;
}

.portfolio-box:hover {
  background: #F5F6FA;
}

.portfolio-box:hover a {
  color: #01434A !important;
}

#benefits2 {
  padding: 100px 30px;
  background: #F5F6FA;
}

#benefits2 .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ver-benefits {
  margin-bottom: 40px;
}

.ver-benefits::after {
  content: ' ';
  display: block;
  margin-top: 40px;
  width: 00%;
  border-bottom: 1px solid #ddd !important;
}

.ver-benefits h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 120%;
  color: #01434A;
  width: 90%;
}

.ver-benefits h3::after {
  content: ' ';
  display: block;
  margin-top: 20px;
  width: 50px;
  border-bottom: 4px solid #54AB68 !important;
}

.ver-benefits p {
  line-height: 180% !important;
  font-size: 1em;
  width: 90%;
}

.ver-benefits:hover::after {
  content: ' ';
  display: block;
  margin-top: 40px;
  width: 90%;
  border-bottom: 1px solid #54AB68 !important;
}

.ver-image-side img {
  border-radius: 10px;
}

.hor-desc {
  padding: 30px;
  border-radius: 20px;
  margin: 10px auto !important;
}

.hor-desc .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hor-desc .ben-text {
  padding: 50px;
  border-radius: 10px;
}

.hor-desc h3 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 120%;
  color: #01434A;
}

.hor-desc p {
  line-height: 160% !important;
  font-size: 1em;
}

.hor-desc img {
  width: 400px;
  -webkit-animation: float 4s ease-in-out infinite !important;
          animation: float 4s ease-in-out infinite !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#cta {
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cta-box h2 {
  background: #fff;
  padding: 30px;
  font-size: 2.8em;
}

#how li, #benefits li {
  font-size: 1.4em;
}

#benefits {
  padding: 50px 20px;
}

.bg-white {
  background: #fff !important;
  padding: 50px 30px;
}

footer {
  padding: 0px 30px 30px 10px;
  background: #fafafa;
}

.foot-contact {
  margin-top: 30px;
}

.foot-contact p {
  margin-bottom: 10px;
}

.foot-legal {
  color: #444;
  padding: 50px !important;
  font-size: .8em;
}

.logomark {
  font-size: 3.2em;
}

.powered-by {
  font-size: .8em;
}

@media screen and (max-width: 600px) {
  .panel-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #userboard, #page-notification {
    padding: 00px 20px;
  }
  .sector-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #benefits {
    padding: 20px;
  }
  .hor-desc {
    padding: 10px;
  }
  .ben-text {
    padding: 20px !important;
  }
  .why-wrapper, .portfolio-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #why, #portfolio {
    padding: 50px 30px;
  }
  #cvq-faq, #cvq-how {
    padding: 30px 30px !important;
  }
}
/*# sourceMappingURL=cvquity.css.map */