$fontstack: 'Facebook Reader', sans-serif;


// Colors
$pebble: #293737;
$cvgreen: #54AB68;
$bgblue: #F5F6FA;
$primary-color: #01434A;

html {
  scroll-behavior: smooth !important;
}

body{
    background: $bgblue;
    font-family: $fontstack !important;
}
*{
    transition: all .5s !important;
    font-family: $fontstack !important
}
// #userboard{
    // background: #fff;
    // padding: 30px;
// }

// Why
#why, #cta,#portfolio{
  padding: 100px 0px;
}
#why{
  background: url(/img/why_bg.svg) !important;
  
  background-repeat: no-repeat !important;
  background-position: center center;
  background-size: cover !important;
  // border-bottom: 8px solid #54AB68;
}

#cvq-how{
    padding: 100px 30px;
    margin:50px auto;
    background: #fff;
}
#cvq-faq{
    padding: 100px 30px;
}

.section-title{
  font-size:2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary-color;
  // &::after{
  //     content: ' ';
  //     display:block;
  //     margin-top: 20px;
  //     width: 50px;
  //     border-bottom: 4px solid $cvgreen !important;
  // }
}

#page-notification{
    margin-top: 30px;
}
.panel-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content;
    grid-gap:20px;
    background: #171C26;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top:50px;
}
.this-notice{
    // background-color: $cvgreen !important;
    font-weight: bold;
    
}
.name-panel{
    h2{
        color: #fff !important;
    }
    p{
        color: $cvgreen !important;
    }
    img{
        border-radius: 300px;
        border:2px solid #fff;
        width: 60px;
        margin-bottom: 20px;
        height: auto;
    }
}
.single-panel{
    padding: 30px;
    border-radius: 10px;
        h2{
            font-size: 1.6em;
            font-weight: bold;
            color: $pebble;
            
        }
        hr{
            background-color: #efefef;
        }
}
.numbers-panel{
    background: $bgblue;
    color: $pebble;
    // border-radius: 10px;
}
#how,#faq{
    margin-top: 30px;
    // padding: 30px;


}
.shaded{
    background: #fff;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.section-title{
    padding: 30px;
   h2{
    font-weight: bold;
    font-size: 1.6em;
   }
}

.sectional-white{
    background: #fff;
    border-radius: 10px;
    margin:0px 1px;
    padding: 30px;

}


details{
    margin-bottom: 20px;;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
summary{
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg) !important;
   
}
.faq-section-title{
    font-size: 1.6em;
    margin-bottom: 30px;
    font-weight: bold;
}
.faq-box{
    // padding: 30px;
    // background: #fff;
    border-radius: 10px;
    .faq-question{
        font-weight: bold;
        margin-top: 10px;
        font-size: 1em;
        margin-bottom: 10px;
        color: $primary-color;
        
    }
    .faq-answer{
        font-size: 1em;
        margin-top: 20px;
        padding-left: 20px;
        margin-left: 20px;
        border-left: 4px solid #54AB68;
        margin-bottom: 20px;
       width: 80%;
       line-height: 180%;
        
            
    }
    
}

// Buttons
.panel-btn{
    font-weight: bold;
    font-size: 1em;
    color: $cvgreen;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    &::after{
        content: ' ⭢';
    }
    &:hover{
        padding-bottom: 5px;
        border-bottom: 2px solid $cvgreen;
    }
}


.cvq-side-text{
    h2{
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 20px;
        &::after{
            content: ' ';
            display: block;
            border-bottom: 4px solid $cvgreen;
            margin: 10px 0px;
            width: 50px;
        }
    }
}

// How it works
.how-boxx{
    // padding: 20px 0px;
    h3{
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    p{
        font-size: 1em !important;
        font-weight: normal;
        margin-bottom: 20px;
    }
}

.sectors{
  align-self: center;
}
.sector-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: max-content;
  grid-gap:20px;
  margin:30px auto;
}
.sector-box{
  align-self: center;
  padding: 30px 20px;
  text-align: center;
  
  background: #fff;
  
  h3{
      font-weight: bold !important;
      color: $primary-color;
      font-size: 1em;
  }
  
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 10px 15px -3px;
  border-radius: 5px;
  &:hover{
      background: $bgblue;
      transition: all .5s !important;
      box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px;
      h3{
          font-weight: bold !important;
      // color: $cvgreen;
      }
      
  }
}
.this-port{
  align-self: center;;
  column{
      align-self: center !important;
  }
}
.portfolio-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: max-content !important;
  grid-gap: 30px;

}
.portfolio-box{
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px;
  padding: 50px 30px;
  background: #fff;
  align-self: center !important;
  border-radius: 10px;
  // line-height: 150px !important;
  // height: 150px !important;
  .with-logo{
      width: 100%;
  }
  a{color: #666 !important;}
  h3{
      font-weight: bold;
      line-height: 140%;
      font-size: 1em;;
  }
  .lockicon{
      margin-bottom: 10px;
      width: 40px;
  }
  &:hover{
      background: $bgblue;
      a{
          color: $primary-color !important;
      }
  }
}
#benefits2{
  padding: 100px 30px;
  background: $bgblue;
  .column{
      align-self: center;
  }
}
.ver-benefits{
  margin-bottom: 40px;
  ;
  &::after{
      content: ' ';
      display:block;
      margin-top: 40px;
      width: 00%;
      border-bottom: 1px solid #ddd !important;
  }
  h3{
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 120%;
      color: $primary-color;
      width: 90%;
      &::after{
          content: ' ';
          display:block;
          margin-top: 20px;
          width: 50px;
          border-bottom: 4px solid $cvgreen !important;
      }
  }
  p{
      line-height: 180% !important;
      font-size: 1em;
      // color: #888;
      width: 90%;
  }
  &:hover{
      
      &::after{
          content: ' ';
          display:block;
          margin-top: 40px;
          width: 90%;
          border-bottom: 1px solid $cvgreen !important;
          
      }
      
  }
}
.ver-image-side{
  img{
      border-radius: 10px;
  }
}

.hor-desc{
  padding: 30px;
  // background: $bgblue !important;
  border-radius: 20px;
  margin: 10px auto !important;
  .column{
      align-self: center;
  }
  .ben-text{
      // box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px !important;
      padding: 50px;
      // background: #fff;
      border-radius: 10px;
  }
  h3{
      font-size: 2.2em;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 120%;
      color: $primary-color;
  }
  p{
      line-height: 160% !important;
      font-size: 1em;
      // color: #888;
  }
  img{
      width:400px;
      animation: float 4s ease-in-out infinite !important;
      box-shadow: none !important;
  }
}


// CTA
#cta{
  background-color: #ffffff;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.cta-box{
  // padding: 50px;
  // background:#F6FFF2;
  h2{
      background: #fff;
      padding: 30px;
      font-size: 2.8em;
  }
}

// how

#how, #benefits{
  li{
      font-size: 1.4em;

  }
}
#benefits{
  // background: $bgblue !important;
  padding: 50px 20px;
}

.bg-white{
  background: #fff !important;
  padding: 50px 30px;
}
footer{
  padding: 0px 30px 30px 10px;
  background: #fafafa;
}
.foot-contact{
  margin-top: 30px;
  p{
      margin-bottom: 10px;
  }
}
.foot-legal{
  // background-color: #efefef;
  color: #444;
  padding: 50px !important;
  font-size: .8em;
}
.logomark{
  font-size: 3.2em;
}
.powered-by{
  font-size: .8em;
}



// On screens that are 600px wide or less
@media screen and (max-width: 600px) {
    .panel-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    
    #userboard, #page-notification{
        padding: 00px 20px;
    }
    .sector-wrapper{
      grid-template-columns: repeat(2,1fr);
  }
  #benefits{
      padding: 20px;
  }
  .hor-desc{
      padding: 10px;
  }
  .ben-text{
      padding: 20px !important;
  }
  .why-wrapper, .portfolio-wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  #why,#portfolio{
      padding:50px 30px;
  }
  #cvq-faq, #cvq-how{
      padding: 30px 30px !important;
  }
}